[2014-02-13 14:26] hotchemi opened #1 "Add unit test and ci badge"

[2014-02-13 14:27] hotchemi opened #2 "Add eventsUntilPrompt condition"
Number of times that has passed through a particular "event"

[2014-02-13 14:28] hotchemi opened #3 "Add usesPerWeekForPrompt condition"
Use the number of weekly

[2014-02-13 14:29] hotchemi opened #4 "Enrich the sample"

[2014-02-13 16:01] #1 closed, assigned to nobody

[2014-02-17 02:09] hotchemi opened #6 "deploy to maven central repository"

[2014-04-08 02:52] #6 closed, assigned to nobody

[2014-05-25 03:18] #2 closed, assigned to nobody

[2014-05-25 03:19] #4 closed, assigned to nobody

[2014-05-25 03:19] #3 closed, assigned to nobody

[2014-05-25 03:19] hotchemi opened #13 "バージョン毎に起動回数を計測できるようにする"

[2014-06-13 09:53] kenchan1837 opened #14 "Android 3未満でRateDialogを開こうとするとクラッシュする"
AppRate.java

[code]

オーバーロードされているshowRateDialogメソッドを、getActivityTypeメソッドの戻り値によって呼び分けようとしているのだと思いますが、Javaではそれはできません。
オーバーロードの呼び分けは、静的に解決されるので、実行時にFragmentActivityであっても
    @TargetApi(Build.VERSION_CODES.HONEYCOMB)
    public static void showRateDialog(Activity activity) {
が呼び出されてエラーになります。

[2014-06-15 08:35] #14 closed, assigned to hotchemi

[2014-06-15 14:33] #13 closed, assigned to hotchemi

[2014-06-19 02:11] kenchan1837 opened #15 "「後でする」「いえ、結構です」しても、showRateDialogIfMeetsConditions(xxx)で、再度ダイアログが表示される"
AppRate#

[code]

DialogManagerでcancelもしくはnoしたときに、
PREF_KEY_REMIND_INTERVALとPREF_KEY_IS_AGREE_SHOW_DIALOGを
Preferenceに保存しているが、
その読込は起動時に呼び出すAppRate#monitor()でしかしてないので、
AppRateにPreferenceの変更が反映されていない。

もしかして、こまめにAppRate#monitor()を呼んだ方がいいのか？とも思ったんですけど、
launchTimesがインクリメントされてしまって、それは違うんだろうなと思うんで、
Preferenceの変更がAppRateに渡るようになるのが正しいのかな。

[2014-06-19 02:46] kenchan1837 opened #16 "「今すぐ評価する」を押したことがわかるcallbackがあると嬉しい"
ソシャゲを例にすると「レビュー書いてくれたら有料アイテムをプレゼント！」とか割とあると思うので、その判断ができるような仕組みがあると嬉しいです！

実際に書いたかどうかは判断できないと思いますんで、そこは割り切ってます。ソシャゲでも「レビューする」ボタンを押せば実際に書かなくてもご褒美貰えるので。

[2014-06-19 23:35] #15 closed, assigned to nobody

[2014-06-20 18:53] #16 closed, assigned to nobody

[2014-07-02 06:00] androhi opened #18 "インスタンスはGetterを介してアクセスする"
AndroidStudioのLintチェックで以下のようなWarnningが出ます。

![2014-07-02 14 54 28](https://cloud.githubusercontent.com/assets/1404787/3452236/e27bd7a8-01ad-11e4-91de-895746d130e3.png)

monitorメソッドに繋げるメソッドは、non-staticにした方がよかったのかもしれません。
ちょっと内容の割に影響範囲が広いので、「へーそうなんだ」くらいに見ていただければと思います。

[2014-07-02 09:03] hotchemi opened #19 "リスナーを設定してダイアログ表示時にホームで戻ると落ちる"

[2014-07-02 14:11] #19 closed, assigned to hotchemi

[2014-07-03 15:51] #18 closed, assigned to nobody

[2014-07-25 17:00] hotchemi opened #27 "enable to setting custom view"

[2014-08-02 13:49] #27 closed, assigned to hotchemi

[2014-10-07 06:17] kenchan1837 opened #32 "SharedPreferenceはcommit()はなくてapply()を使用した方がいいのかも知れない"
commit()はファイル書き込みが終わるまで同期されますが、apply()はインメモリにコミットした後のファイル書き込みは非同期で行われるため、UIスレッドの占有時間が短くなります。

[2014-11-24 12:57] #32 closed, assigned to nobody

[2014-12-01 06:37] maribelmai opened #36 "Can't change default texts"
Hello. First of all, thank you very much for the library.
I'm having an issue trying to change the default texts. I override the "rate_dialog_message" but the dialog is still showing the default message. Do you know what can be happenning?
Thanks!
Maribel

[2014-12-14 15:27] Bersh opened #40 "AlertDialog buttons doesn't fit in dialog box on Android 5.0"
I've noticed that on Android 5.0 buttons in AlertDialog doesn't fit in dialog box. Similar problem described here: http://stackoverflow.com/questions/26708976/alert-dialog-buttons-problems-in-android-l
Unfortunately I don't have solution for this except of using custom layout for AlertDialog. <br/>
Here is few examples how does the problem looks like: <br/>
![screenshot_2014-12-14-16-49-16](https:

[2015-01-05 22:25] #36 closed

[2015-01-19 07:08] hotchemi commented on #40
https://code.google.com/p/android/issues/detail?id=78302

[2015-01-19 07:10] hotchemi commented on #40
http://stackoverflow.com/questions/27187353/dialog-buttons-with-long-text-not-wrapping-squeezed-out-material-theme-on-an

[2015-01-21 16:13] matteinn commented on #40
Any fix for this issue?

[2015-01-28 17:35] hotchemi commented on #40
@maarekj
Sorry for the delay.
May be this is the default requirements of the android framework.
If you want to solve the problem, you can set `buttonBarButtonStyle` in your theme to point to a style that extends `Widget.Material.Button.Borderless.Colored` and adds whatever attributes you need.

[2015-01-28 17:35] hotchemi commented on #40
[code]

[2015-01-29 13:24] maarekj commented on #40
Why I was tagged ?

[2015-01-29 15:05] hotchemi commented on #40
@maarekj Sorry, my mistake...

[2015-01-30 09:53] #40 closed

[2015-01-30 11:01] matteinn commented on #40
Thank you @hotchemi .

[2015-03-02 03:13] sonlv-enguys opened #45 "How to set delay time rate app"
Hi @hotchemi  i want to start rate app 5 day once is used fuctin. What is function used?. Thank

[2015-03-03 04:52] hotchemi commented on #45
Hi.
You can do that as following code.

[code]

[2015-04-02 20:11] theprx opened #48 "ActivityNotFoundException when "Rate" button clicked and Google Play Store isn't installed"
Hi,

I found an error:
When I click on a button "Rate this app" on emulator, app crashes because of this error:

I think this kind of exception should be caught and this URL (https://play.google.com/store/apps/details?id=... ) loaded in web browser or at least user should see a toast error.

PS I found this library today, it's really neat! Thank you for creating it!

[2015-04-20 22:13] #45 closed

[2015-04-20 22:17] hotchemi commented on #48
@theprx Sorry for the delay! What kind of version do you use?
And thanks for your contribution!

[2015-04-21 19:01] theprx commented on #48
Hello,

I don't think it's related to Android version. I've tested it on 5.0.1 and 4.4.4 emulators with the same error.
In DialogManager.java, in OnClickListener of the button "Rate This app" there is the code:
`Intent intent = new Intent(Intent.ACTION_VIEW, UriHelper.getGooglePlay(packageName));`

I  think if Google Play Store isn't installed, `UriHelper.getGooglePlay(packageName)` will throw thi

[2015-04-30 20:27] JoelReeves opened #51 "Different dialog themes"
First off great library!  :)

I was wondering if you were going to change the style of the dialog to conform to the new Material Design dialogs. Or if you could give us a choice in the builder to choose between Holo and Material Design themes.

    AppRate.with(this)
        .theme(AppRate.Theme_Holo_Dark) // or something similiar

[2015-05-09 22:25] hotchemi commented on #48
Please read [it](https://github.com/hotchemi/Android-Rate/pull/53#issuecomment-100555266).

[2015-05-09 22:25] #48 closed

[2015-05-09 22:26] hotchemi commented on #51
Oh, cool. I'd like to implement like that:)

[2015-05-29 05:27] rafaelekol opened #56 "No screenshot in read me page"
Can you fix screenshot in read me page https://github.com/hotchemi/Android-Rate

[2015-05-29 21:53] hotchemi commented on #56
Oh, thx a lot. I'll fix it soon.

[2015-06-12 01:46] muratogat commented on #36
Overriding the general strings.xml in values folder does not override the default texts. I had to create values-tr folder and another strings.xml to override the Turkish default text. Then it worked.

[2015-06-12 02:45] hotchemi commented on #36
Exactly. It depends on the locale of each devices.
Android framework manages it well.

[2015-06-28 09:55] hotchemi commented on #40
@Bersh @matteinn
I will fix this problem at ver 0.5.0. Stay tune:)

![](http://i.gyazo.com/3a98b8f839cac89a0f4b4b9f02789aa5.png)

[2015-06-28 09:58] hotchemi commented on #51
@JoelReeves
I've been thinking using android.support.v7.app.AlertDialog, but it has critical bug like [this](http://stackoverflow.com/questions/26708976/alert-dialog-buttons-problems-in-android-l).
So I will implement this feature after this bug will be fixed.
Of course u can use Material style in Lollipop devices.

![](http://i.gyazo.com/3a98b8f839cac89a0f4b4b9f02789aa5.png)

[2015-06-28 09:58] #51 closed

[2015-06-28 09:59] matteinn commented on #40
Coil, thanks!

--
Sent from a mobile phone, please excuse any auto correct nonsense

[2015-06-28 10:18] hotchemi commented on #56
Fix it. Thx!

[2015-06-28 10:18] #56 closed

[2015-07-02 03:03] hotchemi opened #59 "Add unit test"
Using robolectric

[2015-07-25 13:21] hotchemi opened #62 "Reference of view and listener should be weak reference."

[2015-07-26 05:12] #62 closed

[2015-07-26 05:12] hotchemi opened #63 "Move usage to wiki."

[2015-07-27 21:36] kiledar2006 opened #64 "Crash when using your code"
Dear hotchemi,

i am using your library, i used below mentioned gradle dependency.

compile 'com.github.hotchemi:android-rate:0.5.1'

& i have created a function in my activity like this :-

private void showRate(){
        AppRate.with(this)
                .setInstallDays(0) // default 10, 0 means install day.
                .setLaunchTimes(10) // default 10 times.
                .setRemindInt

[2015-07-28 01:26] hotchemi commented on #64
Sorry, I will investigate it.

[2015-07-28 02:07] hotchemi commented on #64
That was my mistake, I'll release fix version soon!

[2015-07-28 12:54] hotchemi commented on #64
@kiledar2006 0.5.2 will be out soon. Thx!

[2015-07-28 12:54] #64 closed

[2015-09-14 12:14] hotchemi opened #68 "After Changing to BuildVersion and API23"
after Changing to BuildVersion and API23
23.0.1

I get following error after compiling:
Error:(248, 17) error: cannot find symbol method setShowNeutralButton(boolean)

![unbenannt](https://cloud.githubusercontent.com/assets/471318/9849386/9c8b0b2e-5b25-11e5-8bf4-6c901fa7d200.PNG)

[2015-09-16 15:43] sagits opened #69 "Add function to change dialog text"
Hi, would you add a function to change the dialog details text? We can change all texts, except this one. I know i can change it using res, but i would have to create separated files (strings-pt, strings-us) just to change a single line.

Thanks in advance.

[2015-09-16 16:53] hotchemi commented on #69
Hi, do you mean [DialogOptions.setMessageResId](https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/DialogOptions.java#L63)?

[2015-09-16 17:59] sagits commented on #69
Yes, thanks. I was searching for something like setTextMessageResId() because all other methods follow this convention.

[2015-09-16 17:59] #69 closed

[2015-09-16 18:01] hotchemi commented on #69
@sagits Sure! and I'm sorry about I've not prepared enough documents...I'm gonna do that in the near future:) Feel free to ask me something.

[2015-09-24 22:24] #68 closed

[2015-09-26 05:51] liaohuqiu opened #70 "Add badge for android-gems.com"
Added badge for android-gems: http://www.android-gems.com/lib/hotchemi/Android-Rate , it looks like this:

[![Android Gems](http://www.android-gems.com/badge/hotchemi/Android-Rate.svg?branch=master)](http://www.android-gems.com/lib/hotchemi/Android-Rate)

[2015-10-13 20:18] daividssilverio opened #72 "Buttons being shown in the vertical orientation on Marshmallow"
Hi there. I'm using version 0.5.3.
It seems there is a bug with this library when using Marshmallow. The buttons for the dialog are being stacked, just like if they are in a linearlayout with the orientation set to horizontal.

Running your sample app.
![device-2015-10-13-163807](https://cloud.githubusercontent.com/assets/2173493/10467631/ddcbada0-71c8-11e5-8afd-c1ccf261d958.png)

[2015-10-14 01:59] hotchemi commented on #72
Thx, I'm gonna investigate it.

[2015-10-14 14:00] daividssilverio commented on #72
Thanks!
It seems to be a problem with the styles applied to the Alert Dialog and the ButtonBar on the AlertDialog... I've overridden these styles on API>21 as an temporary workaround for the project I'm working.

    <style name="CustomLollipopDialogStyle" parent="android:Theme.Material.Light.Dialog.Alert">
    </style>
    <style name="CustomButtonBarStyle" parent="@android:style/Widget.Material.

[2015-10-14 14:17] hotchemi commented on #72
Yeah it's actually the fix for lollipop bug.
http://stackoverflow.com/questions/26708976/alert-dialog-buttons-problems-in-android-l
I should change to adopt it only API level 21 and 22.

[2015-10-27 04:04] #72 closed

[2015-10-27 04:16] hotchemi commented on #72
Fixed and pushed.

[2015-11-01 15:32] thinkpozzitive commented on #72
hotchemi: version 0.5.5 still has this behavior on android marshmallow. The buttons are still vertically stacked.

[2015-11-02 02:13] hotchemi commented on #72
@thinkpozzitive Could u show the sample? I tested in sample module but it did not occur.

[2015-11-02 09:22] thinkpozzitive commented on #72
So it seems that because I was using a app theme which was a parent of AppCompat and because I was applying a background color to the alert dialog which had a parent of Theme.AppCompat.Dialog.Alert I was experiencing the issue above.

All I had to do what to point my customization of the alert dialog to a similar style like yours (and switch from parent="Theme.AppCompat.Dialog.Alert" to parent="an

[2015-11-03 23:37] hotchemi commented on #72
@thinkpozzitive Umm could u give me a pull request?

[2015-11-05 09:06] thinkpozzitive opened #75 "Crash reports"
Hi hotchemi,

I've been receiving crash reports related to the AppRate library but for the likes of me I cannot reproduce it, nor can I figure out why it is happening, so I'm pasting below the information I have and maybe you have a recommendation.

All the information I have on the crash log:
[code]
What I'm doing is, after a specific user action, I use a 1 second delay (like below) to then show

[2015-11-05 09:48] urgas9 opened #76 "Add support for custom dialog texts"
Is there any possibility to add an option to set custom strings at runtime? I have translations on the server, so i cannot use strings.xml.

Thanks.

[2015-11-17 00:39] hotchemi commented on #76
@urgas9 Could u manage the problem with below issue?
https://github.com/hotchemi/Android-Rate/issues/69

[2015-11-17 00:47] hotchemi commented on #75
1. Could u decrypt the stack trace with mapping.txt? I'd like to see the detail.
2. Could u show me where u initialize the AppRate(with `with`). The stack trace shows `AppRate.with`.
2. Why r u launching the dialog with 1 second delay? I think it may cause the problem.

[2015-11-17 07:56] urgas9 commented on #76
Unfortunately not. I would need a functions like setMessageString(String message), setTitleString(String title)... As i get the content from a RESTful API

[2015-11-17 08:02] hotchemi commented on #76
Ah ic. So could u submit a pull request?

[2015-11-17 08:04] urgas9 commented on #76
Right now i don't have any time to implement this, but i will try to find some in the near future. That would be a great addition to a great library IMO...

[2015-11-17 08:10] hotchemi commented on #76
OK

[2015-11-22 20:15] urgas9 commented on #76
Pull request sent...

[2015-11-28 11:03] #76 closed

[2015-11-28 11:04] #75 closed

[2015-11-28 17:34] CQBinh opened #79 "Leak memory found"
I use [leakcanary](https://github.com/square/leakcanary) and see this leak:
[code]

[2015-12-01 05:43] hotchemi commented on #79
Thanks.

[2016-01-27 15:54] RomainPiel opened #85 "Use android.support.v7.app.AlertDialog instead of android.app.AlertDialog"
Between honeycomb and lollipop, the `AlertDialog` will use the default theme instead of the `AppCompat` defined theme. It will basically fall back to Holo. It would be nice if the library was using `android.support.v7.app.AlertDialog` instead of `android.app.AlertDialog` and add a way to tweak the theme for all versions (it's currently locked for lollipop and above for some reason https://github.c

[2016-01-29 03:56] hotchemi commented on #85
Thanks and sorry for the late.
Well, would u be able to send a pull request? If not, I'm gonna fix that.

[2016-02-02 21:00] mudar commented on #85
I've sent a pull request that uses `android.support.v7.app.AlertDialog ` and adds
[code]
the custom style addition is based on previous PR by @swellner

[2016-02-09 13:13] iRYO400 commented on #79
Did you solve it?

[2016-02-09 13:56] hotchemi commented on #79
Ah sorry not yet. Are you in trouble with that?

[2016-02-09 17:33] iRYO400 commented on #79
I haven't checked that, because I don't know how to use leakcanary

[2016-02-16 17:30] sevar83 opened #87 "Using 2 RateMe dialogs at same time?"
Hi, I wish to have one "Rate Me" dialog and one periodic "Update to Pro". The implementation uses a singleton so i'm not sure - is it possible??

[2016-02-17 03:20] hotchemi commented on #87
Unfortunately not. Because this library is only for review promotion, so you can't use it other purpose. Sorry.
My recommend is implementing it by yourself.

[2016-02-17 03:20] #87 closed

[2016-02-17 05:25] hotchemi commented on #79
@iRYO400 I welcome your pr:D

[2016-02-27 16:28] sandro-csimas opened #88 "Is it possible to not show the NEVER button?"
I want to show only "RATE NOW" and "REMIND LATER".
Is it possible?
If not, what do you think of this feature?

[2016-02-29 00:37] hotchemi commented on #88
Currently we have no option for the negative button(when it comes to neutral button, we have).

I think it's fine. Would you mind send me a pull request?

[2016-02-29 03:19] sandro-csimas commented on #88
Nice! I will send you a pull request soon.

[2016-02-29 16:48] #85 closed

[2016-02-29 16:48] #88 closed

[2016-02-29 16:49] #59 closed

[2016-03-02 15:53] sandro-csimas opened #90 "How to know which decision user taken? I want to change the AppRate settings at runtime."
It will be nice if i can get to know what decision the user has taken.
I'm trying to do the follow:
- Set the install days to 7;
- When the rate dialog is displayed to user and he decided to rate later, i want to increase the remind interval to 15 days.

I think in something like this:
[code]

[2016-03-03 03:01] hotchemi commented on #90
:eyes:

[2016-03-03 14:28] sandro-csimas commented on #90
@hotchemi??? \o/

[2016-03-03 15:31] hotchemi commented on #90
Sorry for the late, I think you can use OnClickButtonListener. onClickButton's argument shows which button is pressed.

https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/OnClickButtonListener.java#L5

refs. http://developer.android.com/intl/ja/reference/android/content/DialogInterface.html#BUTTON_POSITIVE

[2016-03-03 16:40] sandro-csimas commented on #90
The problem is that this is information is not stored in any place. When the activity is created again, i don't have this information anymore. I think it will be nice if the lib store this information.

[2016-03-03 16:42] sandro-csimas commented on #90
When the user clicks, the AppRate could store this in its shared preferences.

[2016-03-03 16:44] sandro-csimas commented on #90
In my case i will only show the "REMIND LATER" and the "RATE NOW" buttons. When is the first time that the dialog is displayed, the remind interval could be 0 for example. After "REMIND LATER" click i want to increase the interval to 15 days.

[2016-03-03 21:56] hotchemi commented on #90
I think you can do it by yourself right? I can implement that but not so much people want that feature and I wanna keep this library simple!

[2016-03-03 21:56] #90 closed

[2016-03-04 01:11] sandro-csimas commented on #90
It's very simple, but ok.

[2016-03-07 08:10] americosfacebook opened #92 "change buttons color?"
how can change color of rat this app button color.

[2016-03-08 11:16] AbdulSamadQureshi opened #93 "Change Theme"
How can i change the theme of this dialog?

I need white background whit black title and body text. Please advise.

[2016-03-08 17:09] Gazer commented on #79
Adding a `AppRate.detach()` method will be enough? So we can call it in the `Activity#onDestroy` method. If its ok I've no problem on send a PR!, let me know.

Thanks!

[2016-03-20 09:27] hotchemi commented on #79
@Gazer Sorry I reverted your pr. This issue is will be fixed in 1.0.0. Thx for you rreport.

[2016-03-20 09:27] #79 closed

[2016-03-20 09:37] hotchemi commented on #93
Please use setDialogStyle, thx.
https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/AppRate.java#L176

[2016-03-20 09:37] #93 closed

[2016-03-20 09:38] hotchemi commented on #92
You can apply style via setDialogStyle, thx.

https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/AppRate.java#L176

[2016-03-20 09:38] #92 closed

[2016-03-20 09:38] #63 closed

[2016-03-22 13:43] ashishkumawat opened #96 "File size increased"
My App apk size was 1.38mb after using this library its became 5.4mb. Any way to reduce file size.

[2016-03-22 13:46] hotchemi commented on #96
aar is only 34.9k. I think you added another one at the same time.

http://search.maven.org/#artifactdetails%7Ccom.github.hotchemi%7Candroid-rate%7C1.0.0%7Caar

[2016-03-22 13:46] #96 closed

[2016-03-22 16:04] ashishkumawat commented on #96
Thanks for your quick answer. I will check it.

[2016-03-25 04:36] huynhphan89 opened #97 "App crashed if don't set OnClickButtonListener"
When user meet conditions app will throw NullPointerException if don't set listener

[2016-03-26 10:52] GauravCreed opened #98 "App Crash : in Lolipop"
Hi Shintaro Katafuchi

you have done a superb work on displaying dialog, it perfectly work on lower version but when i am installing in my Phone (Asus Device : Android Lolipop v : 5.0.1)  it will crash app so please help me to sort out this issue as possible as fast

the Error Log like this.

[code]

thanks.

[2016-03-30 00:39] namannik opened #99 "Runtime Exception: You need to use a Theme.AppCompat theme (or descendant) with this activity"
The library crashes when attempting to show the rate dialog.  The crash says:

[code]
Here's the crash report:

https://fabric.io/heartv/android/apps/com.heartv/issues/56fb1a58ffcdc042503e3436

Any ideas how I can resolve this?  (My activity called `hearTVactivity` extends `FragmentActivity`.)

[2016-03-30 01:20] namannik commented on #99
I've fixed this issue in my app by changing my app's theme to `android:theme="@style/Theme.AppCompat.Light"` in the `application` section of `AndroidManifest.xml`.

[2016-03-31 09:07] iRYO400 opened #100 "java.lang.NullPointerException: Attempt to invoke virtual method..."
`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.lang.ref.Reference.get()' on a null object reference`

MainActivity
[code]

Exception's log
[code]

Please, help

[2016-04-03 23:17] hotchemi commented on #100
I'll fix soon.

[2016-04-03 23:17] hotchemi commented on #99
Umm, I'll investigate.

[2016-04-03 23:18] hotchemi commented on #98
I'll fix it soon and please also check #99 for the time being.

[2016-04-03 23:18] hotchemi commented on #97
I'll fix soon, sorry.

[2016-04-10 21:51] #100 closed

[2016-04-10 21:51] #97 closed

[2016-04-10 22:44] #99 closed

[2016-04-10 22:58] hotchemi commented on #98
Could you check with 1.0.1?

[2016-04-10 22:58] #98 closed

[2016-04-10 22:59] hotchemi commented on #99
Could you check with 1.0.1?

[2016-04-13 00:38] namannik commented on #99
Yes, that fixed the problem.  Thanks!

[2016-04-14 11:34] phajduk opened #104 "setRemindInterval takes only time"
Hi. I would like to implement method similar to `setRemindInterval` but it would take number of launches of the app instead of days. Name proposition is `setRemindLaunchTimes`. It would allow us to show the dialog again after for example next 5 launches. @hotchemi what do you think?

[2016-04-14 13:04] phajduk commented on #104
I checked the code and it looks like if we go for it then [this](https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/AppRate.java#L189-L194) will be complicated much more.
I'm also wondering what will happen when we setup for example:
[code]
Will it be shown after 3rd launch which has been made before 10th day? I think it's not. Is it intended?

[2016-04-16 20:16] josinaldobarbosa opened #105 "Constants for the click button"
add constants for the click of return on setOnClickButtonListener > "int which"

[2016-04-20 14:57] ManojMadanmohan opened #106 "Custom events requirements for launching rate dialog"
I came across a use case while using your api in my app. Basically, I wanted the rate dialog to launch only after the user has done some thing (click a button, visit a screen, etc.) 'n' times.

Does the api have anything of this sort? Would you be willing to allow something like this in the api?

Something like

AppRate.with(this)
      .setInstallDays(0) // default 10, 0 means install day.

[2016-04-22 05:51] shireen028 opened #107 "setDialogStyle shows "Cannot resolve symbol""
Hi,
I want a customized theme but the setDialogStyle is not working anymore? Is the feature removed now or something? If so then can you please tell me how I can have my customize theme.

Source:
https://github.com/hotchemi/Android-Rate/issues/85

[2016-04-26 11:43] icsd commented on #104
Exact same querstions here. Thanks!

[2016-05-02 04:33] hotchemi commented on #105
You can use these.
http://developer.android.com/reference/android/content/DialogInterface.html#BUTTON_POSITIVE

[2016-05-02 04:33] #105 closed

[2016-05-04 17:07] paddykily opened #109 "Dialog not using app custom theme"

[2016-05-19 15:28] bclymer commented on #109
@hotchemi I'm not entirely sure why this issue was created, but I think it might be related to an issue I'm seeing.

I'm passing in a wrapped context
[code]
which has a theme specifically for dialogs. However since you call `getApplicationContext` on the passed in `Context`, the theme doesn't work.

[2016-06-30 23:23] gregacucnik opened #112 "Dialog button text color"
For some reason dialog button text color is red and not primary color. If i remember correctly it used to work and text was colored by primary color.

Could you add an option to set buttons text color?

[code]

[2016-07-08 10:50] jmvines commented on #107
+1

[2016-07-11 12:27] jmvines commented on #107
Any news for this issue?

[2016-07-11 15:01] pdavid0 commented on #72
I know it an old thread but I have the same problem with Android N and I am not using custom themes for the dialog.

Sohuld I open a new issue ?

[2016-07-14 15:53] AdityaAnand1 commented on #109
Just ran into this:

I have a dark theme in my app, the dialog shows up as light, i.e it does not inherit the app's theme.

I tried the ContextThemeWrapper way as well but @bclymer says it's basically ignored:

`AppRate.with(new ContextThemeWrapper(this, R.style.AppRateDialogTheme))`

    private AppRate(Context context) {
        this.context = context.getApplicationContext();
    }

Why is getAp

[2016-08-25 08:36] connyduck opened #114 "Button not visible on smaller screens"
See screenshot, taken on Moto E 2nd gen running android 5.1, german locale

![screenshot_2016-08-23-17-33-20](https://cloud.githubusercontent.com/assets/10157047/17962048/34b47bee-6aaf-11e6-91c8-e54095988f62.png)

[2016-09-28 21:23] JEKos commented on #72
Same problem here for 6.0 version

[2016-10-10 14:18] rpattabi opened #115 "onClickButton() callback may not happen always"
I found that my callback for onClickButton() did not happen. I just followed what is recommended in README.

[code]

[2016-10-10 14:47] rpattabi commented on #115
From the code, I see that the listener is weak referenced. Since we set the listener at onCreate() and the dialog only pops up when we close the app, it is likely that `OnClickButtonListener` object is garbage collected since there is no strong reference to this object. If the object is gone, the callback won't happen.

I think the weak reference is used mainly with the assumption that the activit

[2016-10-26 06:19] Jacovchak5 opened #116 "setOnClickButtonListener on all buttons"
Hey,

How can I use setOnClickButtonListener on all of this feature buttons (ok, cancel)?
I want to know how many users eventually went to the store to rate the app and how many canceled.

Thanks,
Asaf

[2016-10-26 11:11] Jacovchak5 commented on #116
Just found out that on the onClickButton(int which), the "which" represent a different integer value for each of the buttons.
-1 for "OK"
-2 for "NO"

[2016-10-26 12:14] aurae commented on #116
The value passed to `onClickButton(int)` mirrors the general `DialogInterface.OnClickListener` you would use for other dialogs. Rather than hardcoding the values, you should refer to [the constants in that class](https://developer.android.com/reference/android/content/DialogInterface.html#BUTTON_NEGATIVE) instead.

[2016-10-31 01:11] jaredsburrows opened #117 "Fix the GIF in the README"
The key always clicks on "not now" and closes the example app. Can we show the rating dialog in the gif?

[2016-11-12 09:58] Palusiniak opened #118 "Custom dialog"
I want to use my own dialog labels, I overrode string xml resources in my app but its not working. Still I have a polish default words. Please help!

[2016-11-28 14:45] zyvpeople opened #119 "Crash when PlayMarket is not installed"
Application is crashed when press 'Rate' but PlayMarket is not installed. Maybe you should check for  ResolveInfo when calls 'startActivity' and notify client code with listener?

[2017-01-18 07:54] pranishres opened #122 "Show rate app dialog everytime the application launches"
Can someone please tell me how to show this rate app dialog everytime the app launches.
I have set
[code]
but its not working

[2017-01-31 12:24] nirajbrn opened #123 "Button are invisible in Android 7.0"
All the buttons are invisible in Android 7.0, Its could be fix by passing Dialog theme, But there is no option to pass dialog theme in context.

[2017-02-25 22:42] sajid-hussain commented on #85
i have following error
failed to resolve com.github.hotchemi:android-rate:{latest.version}

[2017-03-02 18:07] philipbarwi commented on #122
Alternatively try:
AppRate.with(this).showRateDialog(this) in your OnCreate

[2017-03-07 17:29] Jsaiao commented on #118
+1

[2017-03-08 18:30] FlyingTopHat commented on #119
Issue #53 is similar, and in that @hotchemi provides code for checking whether the Google Play service is available, and states:

Perhaps including the reasoning/code in the project's README might help?

[2017-03-09 06:00] ermankuruoglu commented on #118
Hi, I faced the same situation yesterday and i fixed this. You should be create values-?? named file under res folder and create your own styles.xml file inside it. If you open "Project View" left side, I think you make this more easier. Good luck.

[2017-03-11 04:39] KevinYaoooooo opened #124 "Customize the store navigation"
Hi Hotchemi,

Your library is very cool, simple, easy to use, but could you provide a interface that we could set a customized intent to apprate dialog? that way we can jump to other app store too. Or you can just write a Implicit intent that can open a chooser activity which shows all the store app avaliable on your phone, it would be nice!!

[2017-03-21 09:27] jmhabuild commented on #112
Hello hotchemi,
Do you have any update for this issue?
I also need to change the button text color.

[2017-03-30 10:15] lufuqiang opened #126 "Add the method so that developers can control their own jump market"
Hi,As you know,China can't access google market,we have many app market,so,can you add a method so that developers can control their own jump market?

[2017-04-15 12:54] arunrajgm opened #127 "If the user was gave a rating after that no need to show the dialog after certain period .permanently disable that.How we can handle this?"

[2017-04-27 08:14] vbuberen commented on #112
@gregacucnik, @jmhabuild try use `ContextThemeWrapper` to make dialog look other dialogs in your app.
For example I`ve used method like this:
[code]
Style `AlertDialog` is defined in styles as:
[code]
After that, just call `AppRate.with(getAlertDialogContext(this))..... `
It should help.

[2017-05-22 10:24] taka-me opened #128 "A memory leak occurs when the screen rotates"
If we do not use the Dialog Fragment or showDialog method, it seems that the dialog does not regenerate when the screen rotates, causing a memory leak.

[2017-07-04 12:26] 1442acb42ee0e3a727d7330e9755eb94 commented on #123
Cany anybody else confirm this? We would like to use Android-Rate in out app, but not if it does not support the upcoming nougat release.

[2017-07-30 23:04] robertelo opened #130 "dialog window custom color and buttons colors"
Hello,
I tried adding this in main_activity
       `        .setTitle(R.string.new_rate_dialog_title)
                .setTextLater(R.string.new_rate_dialog_later)
                .setTextNever(R.string.new_rate_dialog_never)
                .setTextRateNow(R.string.new_rate_dialog_ok)
                .monitor();

        LayoutInflater inflater = (LayoutInflater)this.getSystemService(LAYOUT_INFLA

[2017-08-30 11:25] sevar83 commented on #123
It works for me on API25 but a custom dialog theme would be much appreciated.

[2017-10-02 06:46] hendrawd opened #133 "Against dialog guidelines"
From https://material.io/guidelines/components/dialogs.html#dialogs-specs

Is there anything you can do to fulfill the guidelines for the best user experience?

[2017-10-17 20:49] adamfisher commented on #104
I've created a pull request for this feature as I am also looking for this. I'm not 100% certain I updated everything I needed and didn't see any tests but hoping this does the trick...

https://github.com/hotchemi/Android-Rate/pull/134

[2017-10-18 14:29] ollyde commented on #40
Any traction on this, it's not working currently (49)

[2017-10-21 07:00] TheOneMonkey opened #135 "App has stoped"
FATAL EXCEPTION: main
                                                                     Process: com.surya.pictactoe, PID: 10035
                                                                     android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW dat=https://play.google.com/... pkg=com.android.vending }

[2017-10-23 09:53] TharakaDamayantha commented on #127
any answers?

[2017-10-23 09:54] TharakaDamayantha commented on #127
or will it be disabled automatically after rating ? :)

[2017-10-25 14:34] TheOneMonkey opened #136 "shows error page when user presses on RateNow"
I am very new to android, I was checking the app using an emulator (not uploaded in playstore). Am I have to add the link of playstore to open the store when the user clicked on RateNow button or it will directly go to playstore when user clicked by checking packages

[2017-11-04 16:03] carlos-ferreira commented on #136
Check if the image you are using is the google play version.

[2017-11-04 16:03] carlos-ferreira commented on #135
You're testing on a image that doesn't have google play, that's why it's crashing.

[2017-11-07 14:33] TheOneMonkey commented on #136
thanks for replying Carlos-Ferreira,

I have not understood what image I have to check the google play version.

I have checked it on the normal device its showing item not found and a button below "Retry".

![whatsapp image 2017-11-07 at 8 27 42 pm](https://user-images.githubusercontent.com/31856568/32500502-a3931b1e-c3fb-11e7-85ee-477bebf4ddf2.jpeg)

is going to search in play store based on the

[2017-11-08 05:26] AlexanderLS commented on #40
@voidstarfire it's working on https://github.com/Vorlonsoft/AndroidRate

[2017-11-18 04:41] soheilshz commented on #135
FATAL EXCEPTION: main
Process: com.surya.pictactoe, PID: 10035
android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW dat=https://play.google.com/... pkg=com.android.vending }
at android.app.Instrumentation.checkStartActivityResult(Instrumentation.java:1936)
at android.app.Instrumentation.execStartActivity(Instrumentation.java:1615)
at androi

[2017-11-30 11:40] TheOneMonkey commented on #135
Thank you. It worked on real device.

[2017-12-21 10:25] hendrawd commented on #135
Related to #53

[2017-12-22 08:40] hendrawd commented on #136
Is your application already uploaded to google play store?

[2017-12-27 03:48] hendrawd commented on #128
Do you have a proof of the memory leak? Because I don't find any code that could lead to memory leak in https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/AppRate.java and https://github.com/hotchemi/Android-Rate/blob/master/library/src/main/java/hotchemi/android/rate/DialogManager.java

[2017-12-27 03:50] hendrawd commented on #124
I think this feature would be great for flexibility of this library

[2018-01-15 01:57] yuna-yano opened #138 "If setRemindInterval is set to 25 or more, the number of days is not set correctly"
I'm sorry, my English is not good.

If "setRemindInterval" is set to 25 or more, the number of days is not set correctly.
Looking at the point calculated using this value, it seems that the int is overflowing.

[code]
Casting "threshold" to a long type solves the problem.
[code]
I would like to send you a pull request, so thank you.

---
英語がうまくなくてすみません、日本語でもコメントさせていただきます。

setRemindIntervalの値を25日以

[2018-01-15 03:16] hotchemi commented on #138
Oh thx! Sorry I haven't maintained this repo for a while... 🙇 Let me check.

[2018-03-09 13:32] AlexanderLS commented on #138
@yuna-yano  Fixed in Releases 1.0.9+ https://github.com/Vorlonsoft/AndroidRate/

[2018-04-19 18:01] BrandonZV19 commented on #130
Did you solve it?

[2018-04-20 18:27] AlexanderLS commented on #114
@connyduck [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release **1.1.5** works fine, could you check it?
![screenshot_20180420-210425](https://user-images.githubusercontent.com/22101321/39067341-ffa465dc-44e0-11e8-88ae-5377a293a25c.png)

[2018-04-20 18:45] AlexanderLS commented on #133
In [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) Release **1.1.5** you can use
[code]

[2018-04-20 18:46] AlexanderLS commented on #133
@hendrawd  In [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) Release **1.1.5** you can use
[code]

[2018-04-20 18:53] AlexanderLS commented on #116
@Jacovchak5  [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release 1.1.5 uses `onClickButton(final byte which)` instead (**byte** instead **int**).

[2018-04-20 19:05] AlexanderLS commented on #123
@nirajbrn @1442acb42ee0e3a727d7330e9755eb94 @sevar83  [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release **1.1.5** works fine on API24-27, also you can use a specific theme to inflate the dialog:
`AppRate.with(this).setThemeResId(int);`

[2018-04-20 19:13] AlexanderLS commented on #124
@KevinYaoooooo  @hendrawd  [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release 1.1.5 supports:
#### Google Play, Amazon Appstore, Cafe Bazaar, Mi Appstore (Xiaomi Market), Samsung Galaxy Apps, SlideME Marketplace, Tencent App Store, Yandex.Store

[code]

#### Apple App Store

[code]

#### BlackBerry World

[code]

#### Chinese app stores

The first Chinese app store found on the user

[2018-04-21 00:19] hendrawd commented on #124
The support for the other app stores is good, but can we set custom action to the button? For example, I want to open my custom **RateActivity** when the **Rate** button clicked.

[2018-04-22 03:09] robertelo commented on #130
Unfortunately no

[2018-04-25 16:37] AlexanderLS commented on #124
@hendrawd  Thanks for your idea. We added this feature to the [AndroidRate Release 1.1.6](https://github.com/Vorlonsoft/AndroidRate):

#### Сustom Intents

You can set custom action to the Rate button. For example, you want to open your custom RateActivity when the Rate button clicked.

[code]

[2018-04-27 17:59] AlexanderLS commented on #128
@taka-me @haijima  Fixed in https://github.com/Vorlonsoft/AndroidRate (Release 1.1.6+). Could you check it and confirm it? Fix was in AppRate.java:
`private static AppRate singleton; `
changed to
`private static volatile AppRate singleton = null;`

[2018-04-27 18:07] AlexanderLS commented on #126
@lufuqiang In https://github.com/Vorlonsoft/AndroidRate (Release 1.1.6+) you can do it:

### Appstores

You can use different app stores.

#### Chinese app stores

The first Chinese app store found on the user device will be used. The Library doesn't check the availability of your application on the app store.

[code]

#### Other store

[code]

#### Сustom Intents

You can set custom action to the

[2018-04-27 18:18] AlexanderLS commented on #106
@ManojMadanmohan In https://github.com/Vorlonsoft/AndroidRate (Release 1.1.6+) you can use:
### Optional custom event requirements for showing dialog

You can add additional optional requirements for showing dialog. Each requirement can be added/referenced as a unique string. You can set a minimum count for each such event (for e.g. "action_performed" 3 times, "button_clicked" 5 times, etc.)

[cod

[2018-05-08 18:12] AlexanderLS commented on #136
Could you test it on [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) Release 1.1.7. There many Appstore's options.

[2018-05-08 18:14] AlexanderLS commented on #136
@TheOneMonkey  Could you please test it on [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) Release 1.1.7. There many Appstore's options.

[2018-05-08 18:17] AlexanderLS commented on #136
@TheOneMonkey  Could you please test it on [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) Release 1.1.7? There many Appstore's options.

[2018-05-08 18:21] AlexanderLS commented on #135
@TheOneMonkey  @carlos-ferreira  @soheilshz @hendrawd  Fix it on [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate). Works fine on the current release 1.1.7.

[2018-05-08 18:42] AlexanderLS commented on #127
@arunrajgm @TharakaDamayantha  In [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release 1.1.7:

Dialog will be disabled automatically after the user click on the RateIt button. If you want to show the dialog again, call `AppRate#clearAgreeShowDialog()`. Also remember Library can't check that the user rate your app, it can check that the user click on the RateIt button only.

[2018-05-08 18:49] AlexanderLS commented on #122
@pranishres @philipbarwi   In [Vorlonsoft/AndroidRate](https://github.com/Vorlonsoft/AndroidRate) release 1.1.7:

**Every time unless user click RateIt button or click Never button**
[code]
**Every time**
[code]

[2018-05-15 11:34] sundeepkmallick commented on #109
Any update on it ? Is there any new version after 1.0.1?

[2018-07-05 13:47] AlexanderLS commented on #117
#@jaredsburrows [AndroidRate](https://github.com/Vorlonsoft/AndroidRate) animated screenshots were updated:
![AndroidRate animated screenshots](https://raw.githubusercontent.com/Vorlonsoft/AndroidRate/master/screenshots/screenshots_360x640.gif)

Why you want to show the store rating dialog in the gif? It's depends on playstore, not library...

[2018-09-05 07:39] AlexanderLS commented on #115
Hi @rpattabi ,

Fixed in https://github.com/Vorlonsoft/AndroidRate since Release 1.2.1

[2018-09-05 07:48] AlexanderLS commented on #118
Hi @Palusiniak , @Jsaiao , @ermankuruoglu

See https://github.com/Vorlonsoft/AndroidRate - it currently supports 37 languages

[2018-09-05 08:07] AlexanderLS commented on #109
Hi @paddykily , @bclymer , @AdityaAnand1 , @sundeepkmallick

You can use https://github.com/Vorlonsoft/AndroidRate and call

    AppRate.with(this).setThemeResId(R.style.YourAppRateDialogTheme);

@AdityaAnand1 `getApplicationContext()` being called because we need the context of the global application object for the library purposes, not the creation of a dialog only; plus the user should be respo

[2018-09-05 08:34] sundeepkmallick commented on #109
Hi @AlexanderLS,

Thanks for your response. But I managed to resolve the problem from styles.xml.

The new library which you have referred, does it also support Kotlin? I will let you know if I use the new library in the apps I am working on. Thanks..

[2018-09-05 09:41] AlexanderLS commented on #85
Hi @sajid-hussain ,

Try to use

    dependencies {
        implementation "com.vorlonsoft:androidrate:1.2.0"
    }

[2018-09-05 16:29] AlexanderLS commented on #130
Hi @robertelo , @BrandonZV19

Try to use https://github.com/Vorlonsoft/AndroidRate It should work...

[2018-09-13 18:06] AlexanderLS commented on #109
Hi @sundeepkmallick ,

Yes, https://github.com/Vorlonsoft/AndroidRate supports Kotlin also. It 245 commits ahead (21,924 lines ++,  6,285 lines --)

[2018-09-14 18:14] OneManStudioDotSe commented on #72
Did you find a solution to this problem? I still have it with the latest version of the library running on Android 8.1.

[2018-10-16 14:12] trotterellone commented on #135
Hello, You don't handle in the case of the play store isn't installed?

[2018-10-17 09:03] AlexanderLS commented on #135
Hi @trotterellone

https://github.com/Vorlonsoft/AndroidRate handles the case if the user hasn't the Google Play on the device - the library starts intent to the web URI https://play.google.com/store/apps/details?id={your.app.package} (`new Intent(Intent.ACTION_VIEW, Uri.parse("https://play.google.com/store/apps/details?id={your.app.package}"))`)

Also you can set other store than the Google Play

[2018-10-23 11:14] abdulmanum opened #145 "On Click Rate Us Button Playstore Item not Found"
please solve my problem when i click on rate us button. It take me to the playstore and shows that item no found. solve this

[2019-01-30 16:22] aneta9 opened #146 "Should the app be in full production so that the rating library works?"
If the application is released on Google play store as Alpha version (limited access), should the rating library  still work? This is my case. My app is shutting down even on 'Rate Me Later' button click. The log files  claim that the app can't find the right link on google play store ( although  i checked and the link with my app on https://play.google.com/store/apps/details?id= com.mypackagename

[2019-01-30 16:30] aneta9 opened #147 "issue with wait(long millis)"
do I understand that in order to wait before the Rate dialog box appears I can use WAIT like AppRate.with(this).wait(3000)?
I guess something is missing forme there because Android Studio highlights the ".wait(3000)" line as erroneous with UnhandledException: java.lang.InterruptedException statement.
Would appreciate if you can point out what parameter I am missing to put in my ".wait()"
Thank you

[2019-01-30 16:33] hotchemi commented on #147
really sorry but this library is not well maintained 🙇

[2019-01-30 16:34] aneta9 commented on #147
Alright, thank you anyway!

[2019-08-08 12:48] narekyan opened #151 "How to check that a user has already rated?"

[2019-08-20 20:04] navczydev commented on #72
it's still there tested @android9

[2019-09-14 02:18] navczydev commented on #130
@AlexanderLS what would be the id for ViewGroup in view inflation.? Is this is id of the parent tag of custom layout?
    View view = inflater.inflate(R.layout.custom_dialog, (ViewGroup)findViewById(R.id.ratedialog));
Thanks

[2019-10-15 20:35] ataravati commented on #130
Did anyone manage to resolve this?

[2019-10-15 20:37] ataravati commented on #118
@AlexanderLS How do you use a custom dialog. The documentation is not clear enough.

[2019-11-08 20:42] lost0Player opened #152 "Where and how do i need to put link to my app in appStore?"
I intgrated onClick listner and handled rate now button with switch case..but it imidietly starts app store and show error...item not found?..(My app is not on appStore-does it automaticly go to app page or?)

[2020-05-04 15:55] ashvinstech commented on #92
There i no such thing like setDialogStyle please check

[2020-06-18 16:37] wdtheprovider commented on #145
Hello. This Will only if your app is already on play. Since it uses your app package name to take you to the app to rate it.

[2020-06-18 16:39] wdtheprovider commented on #152
App should be on playstore

[2020-06-18 16:40] wdtheprovider commented on #151
The rating will be recorded on your app in play store.

[2020-06-19 01:59] abdulmanum commented on #145
Ok I got it already. Thanks

On Thu, Jun 18, 2020 at 9:37 PM Dingaan Letjane <notifications@github.com>
wrote:

[2020-09-23 22:11] danielnovais92 opened #154 "Integrate Android-Rate with ReviewManagerFactory"
It would be great to combine this library's functionality with the new **ReviewManagerFactory** from Android.
https://developer.android.com/guide/playcore/in-app-review/kotlin-java

[2020-11-28 17:56] PatelVatsalB21 opened #155 "App Rate dialog should be able to adjust text colors"
Dialog should have an option for setting custom theme or y default follow app theme and also button colors should be taken care of. In my case they are white so invisible in day mode.

[2020-11-28 18:00] PatelVatsalB21 opened #156 "Setting a custom view doesn't remove default"
On setting new custom view, it overlaps default view and non of them is clickable. Default view should be removed when custom view is added

[2021-06-12 06:00] Anti-God opened #158 "Need More App Store URLs"
Hi Dear! Would you mind adding more app store URLs like (Samsung App Store, Huawei AppGallery, Xiaomi App Store, etc) please!

[2022-01-02 11:59] MoaazElneshawy opened #159 "Huawei ( appGallery ) not supported"
When the device not support google play , it's Huawei device
it open a link directs to Google Play on web broswer

[2022-07-08 05:28] Salmansmg opened #160 "Rat"

[2022-09-12 20:38] Lunylo opened #162 "Set random install days"
How could I set a random install days instead of a static number?